VITE_SUPABASE_URL=https://ieftvcljzjwmckyvgpxp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllZnR2Y2xqemp3bWNreXZncHhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1Nzc3NTYsImV4cCI6MjA5NzE1Mzc1Nn0.s4xx3VjILpDTAaN3EUy1JEmBWWAqim7VJv93h4wvVPc
